[mysqld_safe]
#syslog
socket          = /var/run/mysqld/mysqld.sock
nice            = 0 

[mysqld]
explicit_defaults_for_timestamp = true
pid-file        = /var/run/mysqld/mysqld.pid

user             = mysql
bind-address     = 0.0.0.0
#sql_mode        = TRADITIONAL
sql_mode         = TRADITIONAL,NO_AUTO_VALUE_ON_ZERO,ONLY_FULL_GROUP_BY
datadir          = /var/lib/mysql
basedir          = /usr
tmpdir           = /tmp
#log_bin          = /var/log/mysql/mysql-bin.log
log_error        = /var/log/mysql/error.log
expire_logs_days = 10
max_binlog_size  = 100M
character-set-server   = utf8mb4
innodb_large_prefix    = true
innodb_file_per_table
innodb_strict_mode     = on
character_set_server  = utf8mb4

[mysql]
default-character-set = utf8mb4

[client]
default-character-set = utf8mb4

